<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>여기는 new page 입니다</div>
    <form action="/articles" method="post">
        <!--title,content를 입력 후 submit 제출하면 ArticleController의 post로 들어와서 articleRepository.save를 탈 것--> 타고 들어와서
        <input type="text" name="title"/>
        <input type="text" name="content"/>
        <input type="submit"/>

    </form>

</body>
</html>